.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    background-color: $white;
    height: 99px;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    color: #333333;
    padding: 0 40px;
    display: flex;
    overflow: scroll;
    &__left-box{
      padding-top: 35px;
      &__current-group{
        margin-bottom: 15px;
        font-size: 20px;
      }
      &__member-list{
        font-size: 12px;
        color: $gray;
      }
    }
    &__edit-btn{
      display: block;
      height: 38px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      color: $blue;
      border: solid 1px $blue;
      position: absolute;
      right: 40px;
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    .new_message{
      display: flex;
      position: relative;
      .form__message {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .form__mask {
        position: absolute;
        right: 125px;
        cursor: pointer;
        &__image {
          font-size: 1.3rem;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      .form__submit {
        background-color: $blue;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        cursor: pointer;
        width: 100px;
      }
    }
  }
}